**salaries **

In [3]:
import pandas as pd

df = pd.read_csv('salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [5]:
inputs = df.drop('salary_more_then_100k', axis='columns')
target = df['salary_more_then_100k']

In [6]:
from sklearn.preprocessing import LabelEncoder

In [8]:
le_company = le_job = le_degree = LabelEncoder()

In [11]:
inputs['company_n'] = le_company.fit_transform(inputs['company'])
inputs['job_n'] = le_company.fit_transform(inputs['job'])
inputs['degree_n'] = le_company.fit_transform(inputs['degree'])

In [15]:
ndf = inputs.drop(['company', 'job', 'degree'], axis='columns')
ndf.head()

   company_n  job_n  degree_n
0          2      2         0
1          2      2         1
2          2      0         0
3          2      0         1
4          2      1         0

In [16]:
from sklearn import tree

In [17]:
model = tree.DecisionTreeClassifier()

In [18]:
model.fit(ndf, target) #default gini, can use enthropy

DecisionTreeClassifier()

In [19]:
model.score(ndf, target)

1.0

In [22]:
model.predict([[2, 0, 1]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1])

In [32]:
df = pd.read_csv('titanic.csv')
t.head()

   Survived  Pclass     Sex   Age            Ticket     Fare
0         0       3    male  22.0         A/5 21171   7.2500
1         1       1  female  38.0          PC 17599  71.2833
2         1       3  female  26.0  STON/O2. 3101282   7.9250
3         1       1  female  35.0            113803  53.1000
4         0       3    male  35.0            373450   8.0500

In [36]:
t = df.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Cabin', 'Embarked', 'Ticket'], axis='columns')

In [43]:
t = t.drop('Survived', axis='columns')

In [44]:
t.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [45]:
target = df['Survived']
le_sex = LabelEncoder()

In [47]:
t['n_sex'] = le_sex.fit_transform(t['Sex'])
t.head()

   Pclass     Sex   Age     Fare  n_sex
0       3    male  22.0   7.2500      1
1       1  female  38.0  71.2833      0
2       3  female  26.0   7.9250      0
3       1  female  35.0  53.1000      0
4       3    male  35.0   8.0500      1

In [58]:
ndf = t.drop('Sex', axis='columns')
x = ndf['Age'].mean()
ndf.fillna(x, inplace=True)

     Pclass        Age     Fare  n_sex
0         3  22.000000   7.2500      1
1         1  38.000000  71.2833      0
2         3  26.000000   7.9250      0
3         1  35.000000  53.1000      0
4         3  35.000000   8.0500      1
..      ...        ...      ...    ...
886       2  27.000000  13.0000      1
887       1  19.000000  30.0000      0
888       3  29.699118  23.4500      0
889       1  26.000000  30.0000      1
890       3  32.000000   7.7500      1

[891 rows x 4 columns]

In [69]:
model = tree.DecisionTreeClassifier()

In [70]:
model.fit(ndf, target) #default gini, can use enthropy

DecisionTreeClassifier()

In [71]:
model.score(ndf, target)

0.9797979797979798

In [72]:
model.predict([[1, 22, 70, 1]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1])

In [86]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(ndf,target,test_size=0.3)

In [87]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [88]:
model.score(X_test, y_test)

0.7985074626865671